.calc{
    width: 400px;
    height: 600px;
    background: black;
    margin-left: 500px;
    
}
#screen{
    width: 80%;
    height: 50px;
    margin-left: 36px;
    margin-top: 30px;
    pointer-events: none;
    background: white;
    
    
}
.btn{
    width: 52px;
    height: 50px;
    margin-left: 36px;
    margin-top: 40px;
}